<alerts></alerts>
<div class="container main-container">
  <div class="row">

    <!-- Slider NO CLUE WHY THE SLIDER ISNT WORKING, HAD TO COMMENT OUT OTHER PICS-->
    <div class="col-lg-9 col-md-12">
      <div class="slider">
        <ul class="bxslider">
          <li>
            <a href="index.html">
              <img class="bxslider slider" src="images/GP2.jpg" alt=""/>
            </a>
          </li>
       <!--    <li>
            <a href="index.html">
              <img src="images/banner_slider-2.jpg" alt=""/>
            </a>
          </li>
          <li>
            <a href="index.html">
              <img src="images/banner_slider-1.jpg" alt=""/>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- End Slider -->

    <!-- Product Selection, visible only on large desktop -->
    <div class="col-lg-3 visible-lg">
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 hero-feature">
          <div class="thumbnail">
            <a href="detail.html" class="link-p first-p">
              <img src="images/product-1.jpg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="detail.html">Daily Deal</a></h4>
              <p>Check out this pre-owned Panerai, its on a special price!</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$ 928.96</a>
                  <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Selection -->
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">

      <!-- Categories -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">CATEGORIES</span>
        </div>
        <div class="list-group list-categ">
          <a href="catalogue.html" class="list-group-item">Rolex</a>
          <a href="catalogue.html" class="list-group-item">Panerai</a>
          <a href="catalogue.html" class="list-group-item">Oris</a>
          <a href="catalogue.html" class="list-group-item">Breitling</a>
          <a href="catalogue.html" class="list-group-item">Omega</a>
          <a href="catalogue.html" class="list-group-item">Tissot</a>
          <a href="catalogue.html" class="list-group-item">Girard-Perregaux</a>
          <a href="catalogue.html" class="list-group-item">Hamilton</a>
          <a href="catalogue.html" class="list-group-item">A. Longe</a>
          <a href="catalogue.html" class="list-group-item">Seiko</a>
        </div>
      </div>
      <!-- End Categories -->

      <!-- Best Seller -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">BEST SELLER</span>
        </div>
        <div class="hero-feature">
          <div class="thumbnail text-center">
            <a href="detail.html" class="link-p">
              <img src="images/blue-watch.jpg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="detail.html">Penn State College T-Shirt</a></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$ 528.96</a>
                  <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="hero-feature hidden-sm">
          <div class="thumbnail text-center">
            <a href="detail.html" class="link-p">
              <img src="images/oris-chrono.jpeg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="detail.html">Ohio State College T-Shirt</a></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$ 924.25</a>
                  <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Best Seller -->

    </div>

    <div class="clearfix visible-sm"></div>

    <!-- Featured -->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">FEATURED PRODUCTS</span>
      </div>
      <div class="col-lg-4 col-sm-4 hero-feature text-center" ng-repeat="watch in watches">
        <div class="thumbnail">
          <a href="detail.html" class="link-p">
            <img src="images/product-2.jpg" alt="">
          </a>
          <div class="caption prod-caption">
            <h4><a href="detail.html">{{watch.brand}} - {{watch.name}}</a></h4>
            <p>Model #: {{watch.modelNum}}</p>
            <p>
              <div class="btn-group">
                <a href="#" class="btn btn-default">${{watch.price}}</a>
                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
              </div>
            </p>
          </div>
        </div>
      </div>

    <!-- End Featured -->

    <div class="clearfix visible-sm"></div>


  </div>
</div>