<alerts></alerts>
<div class="container main-container">
  <div class="row">

    <div class="col-lg-9 col-md-12">
<!-- TRYING A NEW CAROUSEL FROM BOOTSTRAP, FINALLY WORKING -->
    <div>
      <div ng-controller="CarouselCtrl">
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
              <div style="height: 428px;overflow: hidden;">
                <img ng-src="{{slide.image}}" style="margin:auto;width:100%" >
                <div class="carousel-caption">
                  <h1 class="carousel-text">{{slide.text}}</h1>
                </div>
              </div>
            </slide>
          </carousel>
      </div>
    </div>
    </div>
    <!-- End Slider -->

    <!-- Product Selection, visible only on large desktop -->
    <div class="col-lg-3 visible-lg">
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 hero-feature">
          <div class="thumbnail">
            <a href="/watch/54ecb83e1c64bd11009fe59d" class="link-p first-p">
              <img src="https://res.cloudinary.com/justwyoming-com/image/upload/h_245,w_253,c_fill/paaqoqhywjlnqfihsr3u.jpg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="/watch/54ecb83e1c64bd11009fe59d">Daily Deal - Citizen - Eco-Drive Blue Angels World</a></h4>
              <p>Check out this special priced Citizen Eco-Drive, its a must buy!</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$295</a>
                  <a href="/watch/54ecb83e1c64bd11009fe59d" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Selection -->
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">

      <!-- Categories -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">BRANDS</span>
        </div>
        <div class="list-group list-categ">
          <button ng-click="clearBrand()" class="btn btn-primary">CLEAR ALL</button>
          <a href="#" ng-click="showBrand('Rolex')" class="list-group-item">Rolex</a>
          <a href="#" ng-click="showBrand('Panerai')" class="list-group-item">Panerai</a>
          <a href="#" ng-click="showBrand('Oris')" class="list-group-item">Oris</a>
          <a href="#" ng-click="showBrand('Breitling')" class="list-group-item">Breitling</a>
          <a href="#" ng-click="showBrand('Omega')" class="list-group-item">Omega</a>
          <a href="#" ng-click="showBrand('Tissot')" class="list-group-item">Tissot</a>
          <a href="#" ng-click="showBrand('Girard Perregaux')" class="list-group-item">Girard-Perregaux</a>
          <a href="#" ng-click="showBrand('Hamilton')" class="list-group-item">Hamilton</a>
          <a href="#" ng-click="showBrand('Seiko')" class="list-group-item">Seiko</a>
          <a href="#" ng-click="showBrand('Zenith')" class="list-group-item">Zenith</a>
        </div>
      </div>
      <!-- End Categories -->

      <!-- Best Seller -->
      <div class="col-lg-12 col-md-12 col-sm-6">
        <div class="no-padding">
          <span class="title">BEST SELLER</span>
        </div>
        <div class="hero-feature">
          <div class="thumbnail text-center">
            <a href="/watch/54ecc145af7ba111006d8559" class="link-p">
              <img src="https://res.cloudinary.com/justwyoming-com/image/upload/h_245,w_253,c_fill/dh1hvdyewwws1b9hbbm5.jpg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="/watch/54ecc145af7ba111006d8559">Hamilton - Jazzmaster Slim</a></h4>
              <p>Model #: H38645755</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$698.00</a>
                  <a href="/watch/54ecc145af7ba111006d8559" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="hero-feature hidden-sm">
          <div class="thumbnail text-center">
            <a href="/watch/54f76752c805181100822998" class="link-p">
              <img src="https://res.cloudinary.com/justwyoming-com/image/upload/h_245,w_253,c_fill/xjmvgwo9eiwnklautavn.jpg" alt="">
            </a>
            <div class="caption prod-caption">
              <h4><a href="/watch/54f76752c805181100822998">Girard Perregaux - World Timer LA Edition</a></h4>
              <p>Girard-Perregaux is one of the most followed brands in the world, this is a very special piece.</p><p>Model #: 49850-11-252D-BA6A</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">$5,995.00</a>
                  <a href="/watch/54f76752c805181100822998" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Best Seller -->

    </div>

    <div class="clearfix visible-sm"></div>

    <!-- Featured -->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">FEATURED PRODUCTS</span>
      </div>
      <div class="col-lg-4 col-sm-4 hero-feature text-center" ng-repeat="watch in watches">
        <div class="thumbnail">
          <a href="/watch/{{watch.id}}" class="link-p">
            <img src="https://res.cloudinary.com/justwyoming-com/image/upload/h_245,w_253,c_fill/{{watch.image_url[0]}}.jpg" alt="">
          </a>
          <div class="caption prod-caption">
            <h4><a href="detail.html">{{watch.brand}} - {{watch.name}}</a></h4>
            <p>Model #: {{watch.modelNum}}</p>
            <p>
              <div class="btn-group">
                <a href="#" class="btn btn-default">${{watch.price | number:2}}</a>
                <a href="/watch/{{watch.id}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
              </div>
            </p>
          </div>
        </div>
      </div>

    <!-- End Featured -->

    <div class="clearfix visible-sm"></div>
  </div>

</div>
</div>



