<div class="container">
  <table class="table">
  <div class="btn btn-primary" ng-click="startGame()">START</div>
    <thead>

      <tr>
        <!-- WAS EVENTUALLY GOING TO UPDATE THE COUNT BASED ON HOW MANY DIVS WERE IN EACH COLUMN-->
        <th><h1>Column 'A' - Count: {{countA}}</h1></th>
        <th><h1>Column 'B' - Count: {{countB}}</h1></th>
      </tr>

    </thead>

    <tbody>

      <tr ng-repeat="color in colors">
        <!-- THIS WAS ORIGINALLY THE ROUTE I TOOK BEFORE CUSTOM DIRECTIVE, I WAS ON TO SOMETHING HERE,
        BUT THOUGHT THAT DIRECTIVE MIGHT BE THE RIGHT WAY-->
        <td><div ng-repeat="color in color.sequence" style="width:100px; height:50px; background-color:{{color}}; display:inline-block;" ng-click="swapSide()"></div></td>
        <td><div ng-repeat="color in color.sequence" ng-if="showB" style="width:100px; height:50px; background-color:{{color}}; display:inline-block;" ng-click="swapSide()"></div></td>
      </tr>

      <!-- THIS WAS GOING TO BE MY CUSTOM DIRECTIVE BELOW -->

      <!-- <my-float></my-float> -->

    </tbody>

  </table>
</div>