<div class="container main-container">
  <div class="row">
   <div class="col-lg-3 col-md-3 col-sm-12">

     <!-- Best Seller -->
     <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="no-padding">
        <span class="title">BEST SELLER</span>
      </div>
      <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
        <a href="/watch/54e6bba110f19a9eb808fc95" class="link-p">
          <img src="http://res.cloudinary.com/justwyoming-com/image/upload/h_245,w_253,c_fill/ljced0k3liw2fodlxo3k.jpg" alt="">
        </a>
        <div class="caption prod-caption">
         <h4><a href="/watch/54e6bba110f19a9eb808fc95">Omega - De Ville Hour Vision</a></h4>
         <p>The De Ville was born in 1960 as OMEGA’s elegant dress watch. Aside from the aesthetics, the model was also self-winding and water-resistant. There are many variations of this popular OMEGA watch, which was the most varied of all OMEGA lines by 1967.</p>
         <p>
          <div class="btn-group">
           <a href="#" class="btn btn-default">$5,145</a>
           <a href="/watch/54e6bba110f19a9eb808fc95" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View</a>
         </div>
       </p>
     </div>
   </div>
 </div>
<!-- End Best Seller -->

</div>

<div class="clearfix visible-sm"></div>

<!-- Cart -->
<div class="col-lg-9 col-md-9 col-sm-12">
  <div class="col-lg-12 col-sm-12">
    <span class="title">SHOPPING CART</span>
  </div>
  <div class="col-lg-12 col-sm-12 hero-feature">
    <table class="table table-bordered tbl-cart">
     <thead>
      <tr>
        <td class="hidden-xs">Image</td>
        <td>Watch Brand</td>
        <td>Model Name</td>
        <td>Model #</td>
        <!-- <td class="td-qty">Quantity</td> THIS DOESNT WORK PROPERLY, HAD TO TAKE OUT-->
        <td>Unit Price</td>
        <td>Sub Total</td>
        <td>Remove</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="watch in watches">
        <td class="hidden-xs">
          <a href="/watch/{{watch.id}}">
            <img src="http://res.cloudinary.com/justwyoming-com/image/upload/h_100,w_100,c_fill/{{watch.image_url[0]}}.jpg" alt="Age Of Wisdom Tan Graphic Tee" title=""/>
          </a>
        </td>
        <td><a href="detail.html">{{watch.brand}}</a>
        </td>
        <td>
          {{watch.name}}
        </td>
        <td>
          {{watch.modelNum}}
        </td>
          <!-- <td>
            <input type="text" name="" value="1" class="input-qty form-control text-center" />
          </td> -->
          <td class="price">$ {{watch.price}}</td>
          <td>$ {{watch.price}}</td>
          <td class="text-center">
            <a ng-click="removeItem($index)" href="#" class="remove_cart" rel="2">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>

        <tr>
          <td colspan="6" align="right">Total</td>
          <td class="total" colspan="2"><b>${{total()}}</b>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group btns-cart">
     <a href="/"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button></a>
     <!-- <a><button type="button" class="btn btn-primary">Update Cart</button></a> -->
     <a href="/cart/checkout"><button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button></a>
   </div>

 </div>
</div>
<!-- End Cart -->


</div>
</div>

