<div class="container main-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12">

          <!-- <cl-image public-id="{{watch.image_url}}" class="thumbnail inline" angle="20" format="jpg">
          <cl-transformation height="150" width="150" crop="fill" gravity="north" effect="sepia" radius="20"/>
          </cl-image> -->
          <img src="http://res.cloudinary.com/justwyoming-com/image/upload/h_250,w_250,c_fill/{{watch.image_url}}.jpg"></img>


      </div>

    </div>

    <div class="clearfix visible-sm"></div>

    <!-- Product Detail -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">Brand: <strong>{{watch.brand}}</strong></span>
      </div>
      <div class="col-lg-12 col-sm-12 hero-feature">
        <!-- <div class="sp-wrap"> MOVED UP TO LEFT SIDE OF PAGE-->

        <h4 class="showStyle">Model Name:  <strong>{{watch.name}}</strong></h4>

        <h4 class="showStyle">New or Used:  <strong>{{watch.used}}</strong></h4>

        <h4 class="showStyle">Model Number: <strong>{{watch.modelNum}}</strong></h4>

        <h4 class="showStyle">Owner Name: <strong>{{watch.owner.firstName}}</strong></h4>

        Description of your personal watch goes here, it is optional, but you can definitely place one here and explain how special your watch really is to your potential buyer! The more you explain, the quicker it will sell.

        <h4 class="showStyle">Price: <strong>${{watch.price}}</strong></h4>
        <!-- <div class="input-qty-detail">
          <input type="text" class="form-control input-qty text-center" value="1">

        </div> -->
        <button class="btn btn-primary pull-left">add to cart</button>
        <br/>
        <hr/>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4f0c254f1302adf8"></script>
      </div>
      <div class="clearfix"></div>

    </div>
    <!-- End Product Detail -->
  </div>
</div>
</div>
